<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.geo.GeoMapper">
  
	<resultMap id="getSelectList" type="Map">
		<id column="ID" property="ID"/>
		<id column="NAME" property="NAME"/>
		<id column="PASSWORD" property="PASSWORD"/>
	</resultMap>

	<select id="getSelectList" resultType="Map">
		SELECT 
		    ID
		    ,NAME
		    ,PASSWORD
		FROM 
		    TEST
		WHERE  
		    1 = 1
	</select>

</mapper>