<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.GeoMapper">


<select id="selecList" resultType="demo">
	SELECT 
		ID
		,NAME
		,PASSWORD
	FROM TEST
	WHRE 1 = 1
</select>



</mapper>